@import "../../shared/styles/variables.scss";

.header {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 2px solid $grey-300;
}

.logo {
  width: 60px;
}
