.header {
  width: 100%;
  background-color: #e3fffc;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}

.logo {
  width: 60px;
}
